fastapi
uvicorn[standard]
python-multipart
numpy
opencv-python-headless==4.14.0.94
Pillow
torch==2.9.1+cpu
torchvision==0.24.1+cpu
grad-cam
scikit-learn
SQLAlchemy
reportlab
webauthn
--extra-index-url https://download.pytorch.org/whl/cpu
